<a href="https://colab.research.google.com/github/sscoconut64/Joey_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [3]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
for name, grade in grades.items():
  if grade == min(grades.values()):
    print(name)

Omid

Exercise 2: print names of students who registered for any course containing "Data"

In [5]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
for name, course in courses.items():
  for i in course:
    if 'Data' in i:
      print(name)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [6]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:
for title, book in library.items():
  if book['available'] != True:
    print(title)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [7]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
for name, course in registrations.items():
  if len(course) > 2:
    print(name)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [12]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
for name, grade in grades.items():
  average = sum(grades.values())/len(grades)

print(average)

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [13]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for name, course in courses.items():
  if 'Python' in course:
    print(name)

Ali
Reza
Omid

Exercise 7: Print titles of books with more than 200 pages.

In [15]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for book, pages in book_pages.items():
  if pages > 200:
    print(book)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [16]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for name, course in courses.items():
  print(name, len(course))

Ali 2
Sara 2
Reza 2
Lina 2
Omid 1