<a href="https://colab.research.google.com/github/sscoconut64/Joey_DTSC3020_Fall2025/blob/main/In_class_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#1
fruitList = ["Pineapple" , "Cantelope" , "Watermelon"]
print(fruitList)
print(fruitList[0])
print(fruitList[1])
print(fruitList[2])

['Pineapple', 'Cantelope', 'Watermelon']
Pineapple
Cantelope
Watermelon

In [5]:
#2
fourList = ["Joey" , "Brandon" , "Jalen", "Taylor"]
fourList[0] = "Damien"
print(fourList)

['Damien', 'Brandon', 'Jalen', 'Taylor']

In [6]:
#3
vehicleList = ["Car" , "Plane" , "Bus" , "Train" , "Bicycle"]
vehicleList.append("Truck")
print(vehicleList)

['Car', 'Plane', 'Bus', 'Train', 'Bicycle', 'Truck']

In [8]:
#4
foodList = ["Pizza" , "Spaghetti" , "Tacos" , "Rice" , "Steak" , "Corn"]
foodList.remove("Corn")
print(foodList)

['Pizza', 'Spaghetti', 'Tacos', 'Rice', 'Steak']

In [9]:
#5
citiesList = ["Euless" , "Fort Worth" , "Denton" , "Houston"]
citiesList.sort()
print(citiesList)

['Denton', 'Euless', 'Fort Worth', 'Houston']

In [10]:
#6
animalsList = ["Cat" , "Dog" , "Deer"]
for x in animalsList:
  print(x)

Cat
Dog
Deer

In [11]:
#7
numbersList = [1, 2, 3, 4, 5]
for x in numbersList:
  x = x * 2
  print(x)

2
4
6
8
10

In [17]:
#8
friendsList = ["Brandon" , "Jalen" , "Nicholas" , "Jeffrey" , "Taylor" , "Damien"]
print(friendsList[0:3])
print(friendsList[3:6])

['Brandon', 'Jalen', 'Nicholas']
['Jeffrey', 'Taylor', 'Damien']

In [21]:
#9
rangeList = list(range(1,11))
print(rangeList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#10
numbers = [1, 2, 3, 4, 5]

newlist = [x**2 for x in numbers]
print(newlist)

[1, 4, 9, 16, 25]